<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="URL" value="https://mn.gov/mdva/resources/education/minnesotagibill.jsp"/>
  <add key="BROWSER" value="Chrome"/>
  <add key="PROJECTPATH" value="D:\ShareToJamal\UpworkProject\"/>
  <add key="HOSTNAME" value="Jamal"/>
  <add key="USERNAME" value="Jamal.Syed"/>
  <add key="ENVIRONMENT" value="Qa"/>
</appSettings>